name: Simple CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: 21f1006268@ds.study.iitm.ac.in
        run: echo "Hello, world!"
